BOT_TOKEN=bu_yerga_bot_tokeningizni_yozing
GEMINI_API_KEY=bu_yerga_gemini_api_keyingizni_yozing
ADMIN_ID=bu_yerga_telegram_id_raqamingizni_yozing
PAYMENT_CARD=bu_yerga_karta_raqamingizni_yozing
PAYMENT_NAME=bu_yerga_ismingizni_yozing
